/* Reset =================================================== */
/* line 3, ../scss/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 6, ../scss/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Variables =================================================== */
/* Mixins =================================================== */
/* line 73, ../scss/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 67, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 70, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* Page =================================================== */
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 26, ../scss/_site.scss */
html {
  display: table;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 37, ../scss/_site.scss */
body {
  display: table-row;
  height: 100%;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #6f6f6f;
}

/* line 49, ../scss/_site.scss */
.wrapper {
  position: relative;
  display: table-cell;
  overflow: hidden;
  border: 15px solid gainsboro;
  background: #fefefe url('../img/bg-light.png?1360706080');
}

/* line 57, ../scss/_site.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.9);
  width: 100%;
  z-index: 999;
  border-top: 15px solid gainsboro;
  border-left: 15px solid gainsboro;
  border-right: 15px solid gainsboro;
  border-bottom: 1px solid gainsboro;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 72, ../scss/_site.scss */
nav ul {
  display: block;
  list-style: none;
  padding: 0px;
  margin-top: 18px;
  text-align: right;
}
/* line 80, ../scss/_site.scss */
nav ul li {
  display: inline-block;
  margin-right: 20px;
}
/* line 84, ../scss/_site.scss */
nav ul li a, nav ul li a:visited {
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Droid Serif", serif;
  text-transform: lowercase;
  color: #6f6f6f;
}
/* line 91, ../scss/_site.scss */
nav ul li a:hover, nav ul li a:visited:hover {
  text-decoration: none;
}

/* line 99, ../scss/_site.scss */
.page, #home, #about, #portfolio, #contact {
  position: absolute;
  width: 960px;
}

/* Typography =================================================== */
/* line 5, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: inherit;
  font-weight: 300;
  color: inherit;
  text-rendering: optimizelegibility;
}

/* line 13, ../scss/_typography.scss */
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}

/* line 18, ../scss/_typography.scss */
h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 80px;
  font-size: 8rem;
  line-height: 1.2;
}

/* line 24, ../scss/_typography.scss */
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

/* line 30, ../scss/_typography.scss */
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}

/* line 36, ../scss/_typography.scss */
h4,
.h4 {
  margin-bottom: 1.5em;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.25;
}

/* line 42, ../scss/_typography.scss */
h5,
.h5 {
  font-size: 16px;
  font-size: 1.6rem;
  margin-bottom: 1.5em;
}

/* line 47, ../scss/_typography.scss */
h6,
.h6 {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  font-weight: normal;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* line 58, ../scss/_typography.scss */
.header h1,
.header h2,
.header h3 {
  float: left;
  margin-right: 24px;
}
/* line 62, ../scss/_typography.scss */
.header h1 a,
.header h2 a,
.header h3 a {
  display: block;
  position: relative;
  top: 6px;
  float: right;
  padding: 4px 12px;
  font-size: 14px;
  font-size: 1.4rem;
  background-color: #f3f5f6;
}
/* line 71, ../scss/_typography.scss */
.header h1:hover,
.header h2:hover,
.header h3:hover {
  background-color: #f3f5f6;
}

/* line 81, ../scss/_typography.scss */
p,
ol,
ul,
dl,
address {
  margin-bottom: 1.5em;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 86, ../scss/_typography.scss */
small {
  font-size: 14px;
  font-size: 1.4rem;
}

/* line 90, ../scss/_typography.scss */
ul,
ol {
  margin: 0 0 1.5em -24px;
  padding: 0 0 0 24px;
}

/* line 95, ../scss/_typography.scss */
li ul,
li ol {
  margin: 0;
  font-size: 16px;
  font-size: 1.6rem;
}

/* line 101, ../scss/_typography.scss */
blockquote {
  margin: 0 0 1.5em -24px;
  padding-left: 24px;
  border-left: 2px solid #c7ced6;
  font-family: "Droid Serif", serif;
  font-style: normal;
}

/* line 108, ../scss/_typography.scss */
q {
  quotes: none;
}

/* line 114, ../scss/_typography.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* line 118, ../scss/_typography.scss */
cite {
  font-style: normal;
}

/* line 124, ../scss/_typography.scss */
dl,
dd {
  margin-bottom: 1.5em;
}

/* line 127, ../scss/_typography.scss */
dt {
  font-weight: bold;
}

/* line 132, ../scss/_typography.scss */
.dl-horizontal dt {
  float: left;
  clear: left;
  width: 20.25%;
  text-align: right;
}
/* line 138, ../scss/_typography.scss */
.dl-horizontal dd {
  margin-left: 22.78%;
}

/* line 144, ../scss/_typography.scss */
abbr[title] {
  border-bottom: 1px dotted #c7ced6;
  cursor: help;
}

/* line 148, ../scss/_typography.scss */
b, strong {
  font-weight: bold;
}

/* line 151, ../scss/_typography.scss */
dfn {
  font-style: italic;
}

/* line 154, ../scss/_typography.scss */
ins {
  background-color: #f3f5f6;
  color: #6f6f6f;
  text-decoration: none;
}

/* line 159, ../scss/_typography.scss */
mark {
  background-color: #f3f5f6;
  color: #6f6f6f;
  font-style: italic;
  font-weight: bold;
}

/* line 168, ../scss/_typography.scss */
pre,
code,
kbd,
samp {
  font-family: Monaco, Courier New, monospace;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 1.5em;
}

/* line 173, ../scss/_typography.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 179, ../scss/_typography.scss */
sub,
sup {
  position: relative;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 0;
  vertical-align: baselineheight;
}

/* line 185, ../scss/_typography.scss */
sup {
  top: -0.5em;
}

/* line 188, ../scss/_typography.scss */
sub {
  bottom: -0.25em;
}

/* Colour =================================================== */
/* line 7, ../scss/_colour.scss */
a {
  text-decoration: none;
  color: #013568;
}
/* line 11, ../scss/_colour.scss */
a:visited {
  color: #000203;
}
/* line 14, ../scss/_colour.scss */
a:hover {
  text-decoration: underline;
  color: #011b35;
}
/* line 18, ../scss/_colour.scss */
a:focus {
  outline: thin dotted;
  color: black;
}
/* line 23, ../scss/_colour.scss */
a:hover, a:active {
  outline: 0;
}

/* line 27, ../scss/_colour.scss */
::-moz-selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 32, ../scss/_colour.scss */
::selection {
  background-color: #d6dbe1;
  color: #2d353e;
  text-shadow: none;
}

/* line 39, ../scss/_colour.scss */
.swatch {
  margin: 0 0 1.5em 0;
  padding: 0;
}

/* line 43, ../scss/_colour.scss */
.swatch-row {
  display: block;
  margin: 0;
  padding: 0;
  width: 200px;
}

/* line 49, ../scss/_colour.scss */
.swatch-row-one {
  background-color: black;
}

/* line 52, ../scss/_colour.scss */
.swatch-row-two {
  background-color: white;
}

/* line 55, ../scss/_colour.scss */
.swatch-row span {
  display: block;
  float: left;
  width: 50px;
  height: 50px;
}

/* line 63, ../scss/_colour.scss */
.swatch-base span:nth-child(1) {
  background-color: rgba(45, 53, 62, 0.9);
}

/* line 66, ../scss/_colour.scss */
.swatch-base span:nth-child(2) {
  background-color: rgba(45, 53, 62, 0.8);
}

/* line 69, ../scss/_colour.scss */
.swatch-base span:nth-child(3) {
  background-color: rgba(45, 53, 62, 0.7);
}

/* line 72, ../scss/_colour.scss */
.swatch-base span:nth-child(4) {
  background-color: rgba(45, 53, 62, 0.6);
}

/* line 77, ../scss/_colour.scss */
.swatch-alert span:nth-child(1) {
  background-color: rgba(252, 248, 227, 0.9);
}

/* line 80, ../scss/_colour.scss */
.swatch-alert span:nth-child(2) {
  background-color: rgba(252, 248, 227, 0.8);
}

/* line 83, ../scss/_colour.scss */
.swatch-alert span:nth-child(3) {
  background-color: rgba(252, 248, 227, 0.7);
}

/* line 86, ../scss/_colour.scss */
.swatch-alert span:nth-child(4) {
  background-color: rgba(252, 248, 227, 0.6);
}

/* line 91, ../scss/_colour.scss */
.swatch-error span:nth-child(1) {
  background-color: rgba(218, 79, 73, 0.9);
}

/* line 94, ../scss/_colour.scss */
.swatch-error span:nth-child(2) {
  background-color: rgba(218, 79, 73, 0.8);
}

/* line 97, ../scss/_colour.scss */
.swatch-error span:nth-child(3) {
  background-color: rgba(218, 79, 73, 0.7);
}

/* line 100, ../scss/_colour.scss */
.swatch-error span:nth-child(4) {
  background-color: rgba(218, 79, 73, 0.6);
}

/* line 105, ../scss/_colour.scss */
.swatch-info span:nth-child(1) {
  background-color: rgba(217, 237, 247, 0.9);
}

/* line 108, ../scss/_colour.scss */
.swatch-info span:nth-child(2) {
  background-color: rgba(217, 237, 247, 0.8);
}

/* line 111, ../scss/_colour.scss */
.swatch-info span:nth-child(3) {
  background-color: rgba(217, 237, 247, 0.7);
}

/* line 114, ../scss/_colour.scss */
.swatch-info span:nth-child(4) {
  background-color: rgba(217, 237, 247, 0.6);
}

/* line 119, ../scss/_colour.scss */
.swatch-success span:nth-child(1) {
  background-color: rgba(91, 183, 91, 0.9);
}

/* line 122, ../scss/_colour.scss */
.swatch-success span:nth-child(2) {
  background-color: rgba(91, 183, 91, 0.8);
}

/* line 125, ../scss/_colour.scss */
.swatch-success span:nth-child(3) {
  background-color: rgba(91, 183, 91, 0.7);
}

/* line 128, ../scss/_colour.scss */
.swatch-success span:nth-child(4) {
  background-color: rgba(91, 183, 91, 0.6);
}

/* line 133, ../scss/_colour.scss */
.swatch-warning span:nth-child(1) {
  background-color: rgba(250, 167, 50, 0.9);
}

/* line 136, ../scss/_colour.scss */
.swatch-warning span:nth-child(2) {
  background-color: rgba(250, 167, 50, 0.8);
}

/* line 139, ../scss/_colour.scss */
.swatch-warning span:nth-child(3) {
  background-color: rgba(250, 167, 50, 0.7);
}

/* line 142, ../scss/_colour.scss */
.swatch-warning span:nth-child(4) {
  background-color: rgba(250, 167, 50, 0.6);
}

/* Texture =================================================== */
/* Elements =================================================== */
/* line 5, ../scss/_elements.scss */
hr {
  display: block;
  margin: 1em 0;
  padding: 0;
  height: 1px;
  border: 0;
  border-top: 1px solid #c7ced6;
  border-bottom: 1px solid white;
}

/* line 16, ../scss/_elements.scss */
img {
  max-width: 100%;
  border-width: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
}

/* line 22, ../scss/_elements.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 27, ../scss/_elements.scss */
figure {
  margin-bottom: 1.5em;
}
/* line 30, ../scss/_elements.scss */
figure img {
  margin-bottom: 0.375em;
}
/* line 33, ../scss/_elements.scss */
figure figcaption {
  display: block;
  font-weight: normal;
  font-size: 14px;
  font-size: 1.4rem;
  color: gray;
}

/* line 42, ../scss/_elements.scss */
.list-bordered {
  list-style-type: none;
  margin: 0 0 1.5em 0;
  padding: 0;
}
/* line 47, ../scss/_elements.scss */
.list-bordered li {
  margin-bottom: 0.375em;
  padding-bottom: 0.375em;
  border-bottom: 1px dashed #c7ced6;
}
/* line 52, ../scss/_elements.scss */
.list-bordered li:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}

/* Buttons =================================================== */
/* HOME =================================================== */
/* line 3, ../scss/_page.scss */
#home {
  top: 0px;
  left: -563px;
  width: 1500px;
  height: 987px;
  background: url('../img/port.png?1361117514') no-repeat 0 0;
}

/* line 12, ../scss/_page.scss */
.home-content {
  width: 505px;
  margin: 353px 0px 0px 913px;
}

/* line 17, ../scss/_page.scss */
.home-header {
  text-align: right;
}
/* line 20, ../scss/_page.scss */
.home-header h1 {
  padding-bottom: 20px;
  margin-bottom: 10px;
  font-family: "Droid Serif", serif;
  font-size: 72px;
  font-size: 7.2rem;
  border-bottom: 1px solid #c1c1c1;
}
/* line 27, ../scss/_page.scss */
.home-header h1 span {
  color: #a47578;
}
/* line 32, ../scss/_page.scss */
.home-header .tag {
  display: block;
  height: 130px;
  padding-right: 120px;
  font-size: 72px;
  font-size: 7.2rem;
  font-weight: 300;
  text-align: right;
  line-height: 53px;
  color: #454545;
  background: url('../img/amp.png?1360871361') no-repeat right 30px;
}
/* line 44, ../scss/_page.scss */
.home-header .tag span {
  padding: 0px 1px 0px 35px;
  background: url('../img/d.png?1360515333') no-repeat 0px 52px;
}

/* line 51, ../scss/_page.scss */
.home-footer {
  margin-top: 100px;
}
/* line 53, ../scss/_page.scss */
.home-footer .or {
  padding: 45px 0 30px 0;
  font-family: "Droid Serif", serif;
  font-size: 20px;
  font-size: 2rem;
  font-weight: bold;
  line-height: 30px;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  color: #a9a9a9;
  background: url('../img/or.png?1358190226') no-repeat center 62px;
}
/* line 65, ../scss/_page.scss */
.home-footer .scroll {
  padding: 0 0 105px 0;
  font-size: 30px;
  font-size: 3rem;
  font-family: "Droid Serif", serif;
  text-align: center;
  text-shadow: 1px 1px 0px white;
  color: #a47578;
  background: url('../img/scroll.png?1358190226') no-repeat bottom center;
}

/* ABOUT =================================================== */
/* line 78, ../scss/_page.scss */
#about {
  top: 1200px;
  left: 540px;
  width: 1598px;
  height: 800px;
  background: url('../img/about.png?1358190226') no-repeat 0 0;
}

/* line 87, ../scss/_page.scss */
.about-content {
  clear: both;
  width: 1200px;
  height: 330px;
  padding-top: 440px;
  margin: 0 auto;
}
/* line 94, ../scss/_page.scss */
.about-content .blurb {
  float: left;
  width: 40%;
}
/* line 99, ../scss/_page.scss */
.about-content .skills {
  float: right;
  width: 55%;
}

/* line 106, ../scss/_page.scss */
.blurb h1 {
  margin-bottom: 10px;
  font-size: 72px;
  font-size: 7.2rem;
}
/* line 111, ../scss/_page.scss */
.blurb h1 span {
  color: #a47578;
}
/* line 116, ../scss/_page.scss */
.blurb p {
  font-family: "Droid Serif", serif;
  font-size: 12px;
  font-size: 1.2rem;
}

/* line 122, ../scss/_page.scss */
.skills {
  overflow: hidden;
  height: 175px;
  padding: 30px 0;
  margin-top: 40px;
  border: 2px dashed #c7c7c7;
  -webkit-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.04);
  -moz-box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.04);
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.04);
}
/* line 130, ../scss/_page.scss */
.skills .skill {
  position: relative;
  float: right;
  width: 27%;
  height: 175px;
  padding: 0px 20px;
  list-style: none;
  border-right: 2px dashed #c7c7c7;
}
/* line 139, ../scss/_page.scss */
.skills .skill .skill_wrap {
  position: absolute;
  top: 0px;
  -webkit-transition: top 0.2s;
  -moz-transition: top 0.2s;
  -o-transition: top 0.2s;
  transition: top 0.2s;
}
/* line 144, ../scss/_page.scss */
.skills .skill .skill_wrap:hover {
  top: -140px;
}
/* line 147, ../scss/_page.scss */
.skills .skill .skill_wrap:hover h2 {
  margin-bottom: 5px;
}
/* line 151, ../scss/_page.scss */
.skills .skill .skill_wrap:hover img {
  margin-bottom: 20px;
}
/* line 157, ../scss/_page.scss */
.skills .skill img {
  display: block;
  margin: 0 auto;
  -webkit-transition: margin-bottom 0.2s;
  -moz-transition: margin-bottom 0.2s;
  -o-transition: margin-bottom 0.2s;
  transition: margin-bottom 0.2s;
}
/* line 163, ../scss/_page.scss */
.skills .skill h2 {
  height: 50px;
  margin: 15px 0 30px 0;
  text-align: center;
  font-family: "Droid Serif", serif;
  font-size: 22px;
  font-size: 2.2rem;
  color: #a47578;
  -webkit-transition: margin-bottom 0.2s;
  -moz-transition: margin-bottom 0.2s;
  -o-transition: margin-bottom 0.2s;
  transition: margin-bottom 0.2s;
}
/* line 173, ../scss/_page.scss */
.skills .skill p {
  width: 180px;
  margin: 0px;
  font-size: 12px;
  font-size: 1.2rem;
  font-family: "Droid Serif", serif;
  text-align: center;
}
/* line 182, ../scss/_page.scss */
.skills .pm {
  border: 0px;
}
/* line 185, ../scss/_page.scss */
.skills .pm h2 {
  margin-right: 20px;
}

/* PORT =================================================== */
/* line 193, ../scss/_page.scss */
#portfolio {
  top: 630px;
  left: 2110px;
  width: 1500px;
  height: 800px;
}

/* line 201, ../scss/_page.scss */
.portfolio-content {
  position: relative;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
/* line 207, ../scss/_page.scss */
.portfolio-content .compiling {
  position: absolute;
  top: 0px;
  left: 538px;
  width: 434px;
  height: 400px;
  background: url('../img/sign.png?1358190226') no-repeat 0 0;
}
/* line 216, ../scss/_page.scss */
.portfolio-content .shelf-left {
  display: inline-block;
  width: 432px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-left.png?1358190226') no-repeat 0 0;
}
/* line 224, ../scss/_page.scss */
.portfolio-content .shelf-middle {
  display: inline-block;
  width: 398px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-middle.png?1358190226') repeat-x 0 -10px;
}
/* line 232, ../scss/_page.scss */
.portfolio-content .shelf-right {
  display: inline-block;
  width: 395px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-right.png?1358190226') no-repeat 0 0;
}

/* CONTACT =================================================== */
/* line 243, ../scss/_page.scss */
#contact {
  top: 1300px;
  left: 3250px;
  width: 750px;
  height: 800px;
  padding-top: 100px;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  color: #454545;
  background: url('../img/postbox.png?1358190226') no-repeat right 0;
}
