/* Reset =================================================== */
/* line 3, ../scss/_reset.scss */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* line 6, ../scss/_reset.scss */
article, aside, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* Variables =================================================== */
/* Mixins =================================================== */
/* line 73, ../scss/_mixins.scss */
.clearfix {
  *zoom: 1;
}
/* line 67, ../scss/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
}
/* line 70, ../scss/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* Page =================================================== */
@-webkit-viewport {
  width: device-width;
}

@-moz-viewport {
  width: device-width;
}

@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

/* line 26, ../scss/_site.scss */
html {
  display: table;
  font-size: 62.5%;
  width: 100%;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  -webkit-tap-highlight-color: #f3f5f6;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 37, ../scss/_site.scss */
body {
  display: table-row;
  height: 100%;
  font-family: "Libre Baskerville", serif;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 1.5em;
  color: #404040;
}

/* line 46, ../scss/_site.scss */
.wrapper {
  position: relative;
  display: table-cell;
  overflow: hidden;
  border: 15px solid gainsboro;
  background: #fefefe url('../img/bg-light.png?1364829980');
  z-index: -100;
}

/* line 55, ../scss/_site.scss */
nav {
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(238, 238, 238, 0.9);
  width: 100%;
  z-index: 999;
  border-style: solid;
  border-color: gainsboro;
  border-width: 15px 15px 1px 15px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 68, ../scss/_site.scss */
.nav-wrap {
  width: 960px;
  margin: 0 auto;
}
/* line 72, ../scss/_site.scss */
.nav-wrap a, .nav-wrap a:visited {
  font-size: 18px;
  font-size: 1.8rem;
  text-transform: lowercase;
  color: #404040;
}
/* line 78, ../scss/_site.scss */
.nav-wrap .home-nav {
  float: left;
  display: block;
  padding: 18px 0px;
  margin: 0px;
}
/* line 84, ../scss/_site.scss */
.nav-wrap .home-nav li {
  display: inline-block;
}
/* line 87, ../scss/_site.scss */
.nav-wrap .home-nav li a {
  padding: 18px 10px;
}
/* line 90, ../scss/_site.scss */
.nav-wrap .home-nav li a span {
  color: #a47578;
}
/* line 94, ../scss/_site.scss */
.nav-wrap .home-nav li a:hover {
  text-decoration: none;
  border-bottom: 2px solid #a47578;
  background-color: rgba(230, 230, 230, 0.5);
}
/* line 103, ../scss/_site.scss */
.nav-wrap .home-nav .site-logo a {
  padding: 18px 25px 40px 25px;
  border-bottom: 4px solid #7b5154;
  background: #a47578 url('../img/logo.png?1364829980') no-repeat center center;
}
/* line 108, ../scss/_site.scss */
.nav-wrap .home-nav .site-logo a:hover {
  border-bottom: 4px solid #7b5154;
  background-color: #7b5154;
}
/* line 116, ../scss/_site.scss */
.nav-wrap .nav {
  float: right;
  display: block;
  list-style: none;
  padding: 18px 0 18px 45px;
  margin: 0px;
  text-align: right;
  background: url('../img/swirl.png?1364829980') no-repeat left 25px;
}
/* line 125, ../scss/_site.scss */
.nav-wrap .nav li {
  display: inline-block;
}
/* line 128, ../scss/_site.scss */
.nav-wrap .nav li a, .nav-wrap .nav li a:visited {
  padding: 18px 10px 18px 10px;
  text-align: center;
}
/* line 133, ../scss/_site.scss */
.nav-wrap .nav li a:hover, .nav-wrap .nav li a:visited:hover {
  text-decoration: none;
  border-bottom: 2px solid #a47578;
  background-color: rgba(230, 230, 230, 0.5);
}

/* line 143, ../scss/_site.scss */
.page, .home, .about, .portfolio, .tablet, .contact {
  position: absolute;
  width: 960px;
}

/* line 148, ../scss/_site.scss */
.hide {
  display: none;
}

/* line 152, ../scss/_site.scss */
.line1 {
  position: absolute;
  top: 967px;
  left: -80px;
  width: 712px;
  height: 622px;
  background: url('../img/line1.png?1364829980') no-repeat;
}

/* line 161, ../scss/_site.scss */
.line2 {
  position: absolute;
  top: 896px;
  left: 1977px;
  width: 288px;
  height: 599px;
  background: url('../img/line2.png?1364829980') no-repeat;
}

/* line 170, ../scss/_site.scss */
.line3 {
  position: absolute;
  top: 894px;
  left: 3422px;
  width: 532px;
  height: 424px;
  background: url('../img/line3.png?1364829980') no-repeat;
}

/* line 179, ../scss/_site.scss */
.line4 {
  position: absolute;
  top: 1080px;
  left: 2640px;
  width: 529px;
  height: 1123px;
  background: url('../img/line4.png?1364829980') no-repeat;
}

/* line 188, ../scss/_site.scss */
.break {
  display: block;
  width: 400px;
  height: 1px;
  margin: 0 auto 30px auto;
  border-color: white transparent white transparent;
  border-width: 1px;
  border-style: solid;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}

/* Typography =================================================== */
/* line 5, ../scss/_typography.scss */
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-family: "Libre Baskerville", serif;
  font-weight: 300;
  color: #404040;
  text-rendering: optimizelegibility;
}

/* line 13, ../scss/_typography.scss */
h1 small,
h2 small {
  font-weight: normal;
  color: #bfbfbf;
}

/* line 19, ../scss/_typography.scss */
h1,
.h1 {
  margin-bottom: 0.75em;
  font-size: 80px;
  font-size: 8rem;
  line-height: 1.2;
}
/* line 23, ../scss/_typography.scss */
h1 span,
.h1 span {
  color: #a47578;
}

/* line 28, ../scss/_typography.scss */
.h1_alt {
  margin-bottom: 40px;
  font-family: "Josefin Sans", Arial, sans-serif;
  font-size: 50px;
  font-size: 5rem;
  line-height: 30px;
}

/* line 36, ../scss/_typography.scss */
h2,
.h2 {
  margin-bottom: 0.75em;
  font-size: 24px;
  font-size: 2.4rem;
  line-height: 1.2;
}

/* line 42, ../scss/_typography.scss */
h3,
.h3 {
  margin-bottom: 1em;
  font-size: 21px;
  font-size: 2.1rem;
  line-height: 1.3;
}

/* line 47, ../scss/_typography.scss */
p {
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 18px;
  font-size: 1.8rem;
}
/* line 51, ../scss/_typography.scss */
p span {
  color: #a47578;
}

/* Colour =================================================== */
/* line 7, ../scss/_colour.scss */
a {
  text-decoration: none;
  color: #a47578;
}
/* line 15, ../scss/_colour.scss */
a:hover {
  text-decoration: none;
  color: white;
}
/* line 26, ../scss/_colour.scss */
a:hover, a:active {
  outline: 0;
}

/* Elements =================================================== */
/* Buttons =================================================== */
/* line 3, ../scss/_buttons.scss */
.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 14px 15px 10px 15px;
  margin-bottom: 0;
  font-size: 18px;
  font-size: 1.8rem;
  font-family: "Josefin Sans", Arial, sans-serif;
  text-transform: uppercase;
  line-height: 15px;
  color: #a47578;
  text-align: center;
  vertical-align: middle;
  background-color: #e6e6e6;
  border: 1px dashed #bfbfbf;
  cursor: pointer;
  *margin-left: .3em;
}
/* line 22, ../scss/_buttons.scss */
.btn:hover {
  text-decoration: none;
  color: #a47578;
  text-decoration: none;
  background-color: #d9d9d9;
}
/* line 29, ../scss/_buttons.scss */
.btn:active {
  background-color: #cccccc;
}

/* line 35, ../scss/_buttons.scss */
.btn_drk:hover {
  color: white;
  background-color: #a47578;
}
/* line 40, ../scss/_buttons.scss */
.btn_drk:hover {
  color: white;
  background-color: #8b5b5e;
}

/* line 46, ../scss/_buttons.scss */
.bk_btn {
  position: relative;
  padding: 10px 15px 10px 5px;
  background: #e6e6e6;
}
/* line 51, ../scss/_buttons.scss */
.bk_btn:before {
  right: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border-right-color: #e6e6e6;
  border-width: 22px;
  top: 36px;
  margin-top: -36px;
}
/* line 65, ../scss/_buttons.scss */
.bk_btn:hover {
  text-decoration: none;
  color: white;
  background: #a47578;
}
/* line 70, ../scss/_buttons.scss */
.bk_btn:hover:before {
  border-right-color: #a47578;
}
/* line 75, ../scss/_buttons.scss */
.bk_btn:active {
  text-decoration: none;
  color: white;
  background: #8b5b5e;
}
/* line 80, ../scss/_buttons.scss */
.bk_btn:active:before {
  border-right-color: #8b5b5e;
}

/* line 86, ../scss/_buttons.scss */
.nxt_btn {
  position: relative;
  padding: 10px 5px 10px 15px;
  background: #e6e6e6;
}
/* line 91, ../scss/_buttons.scss */
.nxt_btn:after {
  left: 100%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  border-color: rgba(194, 225, 245, 0);
  border-left-color: #e6e6e6;
  border-width: 22px;
  top: 36px;
  margin-top: -36px;
}
/* line 105, ../scss/_buttons.scss */
.nxt_btn:hover {
  text-decoration: none;
  color: white;
  background: #a47578;
}
/* line 110, ../scss/_buttons.scss */
.nxt_btn:hover:after {
  border-left-color: #a47578;
}
/* line 115, ../scss/_buttons.scss */
.nxt_btn:active {
  text-decoration: none;
  color: white;
  background: #8b5b5e;
}
/* line 120, ../scss/_buttons.scss */
.nxt_btn:active:after {
  border-left-color: #8b5b5e;
}

/* HOME =================================================== */
/* line 3, ../scss/_page.scss */
.home {
  top: 0px;
  left: -563px;
  width: 1500px;
  height: 987px;
  background: url('../img/port.png?1364829980') no-repeat 0 0;
}

/* line 12, ../scss/_page.scss */
.home-content {
  width: 505px;
  margin: 250px 0px 0px 913px;
  text-align: center;
}

/* line 18, ../scss/_page.scss */
.home-header {
  text-align: right;
  margin-bottom: 30px;
}
/* line 22, ../scss/_page.scss */
.home-header h1 {
  padding-bottom: 20px;
  margin-bottom: 2px;
  font-size: 65px;
  font-size: 6.5rem;
  border-bottom: 1px solid #c1c1c1;
}
/* line 28, ../scss/_page.scss */
.home-header h1 span {
  color: #a47578;
}
/* line 33, ../scss/_page.scss */
.home-header .tag {
  display: block;
  height: 130px;
  padding: 20px 0px 0 0;
  font-size: 72px;
  font-size: 7.2rem;
  font-weight: 300;
  font-family: "Josefin Sans", Arial, sans-serif;
  text-align: right;
  border-top: 1px solid #c1c1c1;
}
/* line 43, ../scss/_page.scss */
.home-header .tag .amp {
  display: block;
  float: right;
  width: 110px;
  padding: 22px 0px 0px 10px;
  font-family: "Libre Baskerville", serif;
  text-align: center;
  font-size: 120px;
  font-size: 12rem;
  line-height: 100px;
  color: #a47578;
}
/* line 55, ../scss/_page.scss */
.home-header .tag .des {
  display: block;
  line-height: 80px;
}
/* line 60, ../scss/_page.scss */
.home-header .tag .dev {
  padding: 0px 1px 0px 35px;
  margin-top: -40px;
  line-height: 20px;
  background: url('../img/d.png?1364829980') no-repeat 0px 13px;
}

/* line 69, ../scss/_page.scss */
.teaser {
  margin-bottom: 30px;
  font-size: 20px;
  font-size: 2rem;
  text-align: center;
  line-height: 40px;
}

/* line 76, ../scss/_page.scss */
.hm_cv {
  margin: 0px auto 40px auto;
}

/* line 81, ../scss/_page.scss */
.home-footer .scroll {
  padding: 0 0 120px 0;
  font-size: 30px;
  font-size: 3rem;
  text-align: center;
  color: #a47578;
  background: url('../img/scroll.png?1364829980') no-repeat bottom center;
}

/* ABOUT =================================================== */
/* line 92, ../scss/_page.scss */
.about {
  top: 1200px;
  left: 540px;
  width: 1598px;
  height: 800px;
  background: url('../img/about.png?1364829980') no-repeat 0 0;
}

/* line 101, ../scss/_page.scss */
.about-content {
  width: 980px;
  height: 330px;
  padding-top: 430px;
  margin: 0 auto;
}
/* line 107, ../scss/_page.scss */
.about-content .blurb {
  float: left;
  width: 60%;
}
/* line 111, ../scss/_page.scss */
.about-content .blurb h1 {
  color: #a47578;
}
/* line 115, ../scss/_page.scss */
.about-content .blurb p {
  line-height: 35px;
  font-size: 16px;
  font-size: 1.6rem;
}
/* line 121, ../scss/_page.scss */
.about-content .myskills {
  float: right;
  width: 35%;
}

/* line 128, ../scss/_page.scss */
.myskills h1 {
  text-align: right;
  color: #a47578;
}
/* line 133, ../scss/_page.scss */
.myskills ul {
  padding: 0px 10px 0px 0px;
  margin: 10px;
  color: #a47578;
}
/* line 138, ../scss/_page.scss */
.myskills ul li {
  margin-bottom: 10px;
  text-align: right;
  font-size: 16px;
  font-size: 1.6rem;
  line-height: 30px;
  list-style: square;
}
/* line 146, ../scss/_page.scss */
.myskills ul li span {
  color: #404040;
}

/* PORT =================================================== */
/* line 155, ../scss/_page.scss */
.portfolio {
  top: 630px;
  left: 2110px;
  width: 1500px;
  height: 800px;
}

/* line 163, ../scss/_page.scss */
.portfolio-content {
  position: relative;
  margin: 0 auto;
  font-size: 0;
  text-align: center;
}
/* line 169, ../scss/_page.scss */
.portfolio-content .port-items {
  position: absolute;
  top: 93px;
  left: 373px;
  width: 798px;
  height: 499px;
  padding-left: 0px;
  list-style: none;
}
/* line 178, ../scss/_page.scss */
.portfolio-content .port-items li {
  position: relative;
  float: left;
  width: 160px;
  height: 160px;
  margin: 0 35px 35px 0;
}
/* line 186, ../scss/_page.scss */
.portfolio-content .port-items .port-item {
  display: block;
  cursor: pointer;
  width: 100%;
  height: 100%;
  margin: 6px 0px 0px 6px;
  -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.75);
  background-repeat: no-repeat;
  background-position: 0 0;
}
/* line 196, ../scss/_page.scss */
.portfolio-content .port-items .port-item:hover {
  outline: 4px solid #404040;
}
/* line 200, ../scss/_page.scss */
.portfolio-content .port-items .port-item:active {
  border: 4px solid #a47578;
  background-position: -4px -4px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 209, ../scss/_page.scss */
.portfolio-content .port-items #radical {
  background-image: url('../img/radical_thumb.jpg?1364829980');
}
/* line 214, ../scss/_page.scss */
.portfolio-content .shelf-left {
  display: inline-block;
  width: 432px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-left.png?1364829980') no-repeat 0 0;
}
/* line 222, ../scss/_page.scss */
.portfolio-content .shelf-middle {
  display: inline-block;
  width: 398px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-middle.png?1364829980') repeat-x 0 -10px;
}
/* line 230, ../scss/_page.scss */
.portfolio-content .shelf-right {
  display: inline-block;
  width: 395px;
  height: 499px;
  z-index: -2;
  background: url('../img/shelf-right.png?1364829980') no-repeat 0 0;
}

/* PORT-ITEM ================================================= */
/* line 241, ../scss/_page.scss */
.tablet {
  top: 2130px;
  left: 1895px;
  width: 1865px;
  height: 1024px;
}

/* line 249, ../scss/_page.scss */
.tablet-content {
  position: relative;
  overflow: auto;
  width: 1865px;
  height: 1024px;
}

/* line 256, ../scss/_page.scss */
.tablet-bg {
  position: absolute;
  top: -10px;
  pointer-events: none;
  width: 1865px;
  height: 1024px;
  background: url('../img/tablet.png?1364829980') no-repeat 0 0;
}

/* line 265, ../scss/_page.scss */
.tab-content-wrap {
  position: relative;
  width: 860px;
  height: 650px;
  overflow: hidden;
  margin: 150px 0px 0px 510px;
}

/* line 273, ../scss/_page.scss */
.tab-controls {
  height: 50px;
  padding-bottom: 5px;
  margin: 25px 50px 10px 50px;
  border-bottom: 1px solid #c1c1c1;
}
/* line 280, ../scss/_page.scss */
.tab-controls .tab-back {
  float: left;
  margin-left: 25px;
}
/* line 285, ../scss/_page.scss */
.tab-controls .tab-prev-next {
  float: right;
  margin: 12px 25px 12px 0px;
}
/* line 289, ../scss/_page.scss */
.tab-controls .tab-prev-next li {
  display: inline-block;
}
/* line 294, ../scss/_page.scss */
.tab-controls a {
  cursor: pointer;
  font-size: 20px;
  font-size: 2rem;
  color: #8b5b5e;
}

/* line 301, ../scss/_page.scss */
.tab-items {
  position: absolute;
  top: 90px;
  left: 0px;
  height: 560px;
  padding: 0px;
  margin-left: 0px;
  margin-right: 200px;
  list-style: none;
}
/* line 311, ../scss/_page.scss */
.tab-items .tab-item {
  float: left;
  width: 760px;
  height: 500px;
  padding: 10px 50px 50px 50px;
}

/* line 321, ../scss/_page.scss */
.tab-item h1 {
  margin-bottom: 10px;
  font-size: 40px;
  font-size: 4rem;
}
/* line 326, ../scss/_page.scss */
.tab-item .tab-right {
  float: right;
}

/* line 333, ../scss/_page.scss */
.tab-right {
  text-align: center;
}

/* line 337, ../scss/_page.scss */
.tab-image {
  height: 412px;
  padding: 0px;
  margin: 10px 0px 25px 20px;
  border: 1px solid gray;
}
/* line 343, ../scss/_page.scss */
.tab-image .tab-browser {
  overflow: auto;
  padding: 0px 0px 0px 7px;
  list-style: none;
  border-bottom: 1px solid gray;
}
/* line 349, ../scss/_page.scss */
.tab-image .tab-browser li {
  float: left;
  display: inline-block;
  width: 8px;
  height: 8px;
  border: 1px solid gray;
}
/* line 357, ../scss/_page.scss */
.tab-image .tab-browser .tab-browser-btn {
  margin: 13px 5px 0px 0px;
  background-color: #e1d1d2;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}
/* line 363, ../scss/_page.scss */
.tab-image .tab-browser .tab-browser-adrs {
  float: right;
  width: 70%;
  padding: 7px;
  margin: 5px;
  background-color: #e1d1d2;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 373, ../scss/_page.scss */
.tab-image img {
  width: 377px;
  height: 377px;
}

/* line 380, ../scss/_page.scss */
.tab_url {
  margin: 10px auto;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
  -moz-box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
  box-shadow: 0px 0px 20px rgba(50, 50, 50, 0.1);
}

/* line 386, ../scss/_page.scss */
.tab-tags {
  list-style: none;
  padding: 0px 10px 0 0;
  margin-bottom: 10px;
}
/* line 391, ../scss/_page.scss */
.tab-tags li {
  display: inline-block;
  padding: 5px 5px 10px 5px;
  margin: 0 5px 10px 0;
  font-size: 16px;
  font-size: 1.6rem;
  font-family: "Josefin Sans", Arial, sans-serif;
  line-height: 18px;
  background: #d9d9d9;
}

/* CONTACT =================================================== */
/* line 406, ../scss/_page.scss */
.contact {
  top: 1300px;
  left: 3100px;
  width: 960px;
  height: 800px;
  padding-top: 150px;
  text-align: center;
  color: white;
  background: url('../img/postbox.png?1364829980') no-repeat right 0;
}

/* line 418, ../scss/_page.scss */
.contact-content {
  width: 570px;
  height: 430px;
  padding: 40px;
  background-color: #b3b3b3;
  border: 2px dashed gray;
}
/* line 425, ../scss/_page.scss */
.contact-content h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 50px;
  font-size: 5rem;
  line-height: 50px;
}
/* line 432, ../scss/_page.scss */
.contact-content .cv {
  margin: 0px auto 30px auto;
}
/* line 436, ../scss/_page.scss */
.contact-content .contact_links {
  margin-bottom: 30px;
  font-size: 30px;
  font-size: 3rem;
  line-height: 30px;
}
/* line 441, ../scss/_page.scss */
.contact-content .contact_links a {
  vertical-align: middle;
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  cursor: pointer;
  color: #8b5b5e;
}
/* line 448, ../scss/_page.scss */
.contact-content .contact_links a:hover {
  text-decoration: none;
  color: white;
}
/* line 454, ../scss/_page.scss */
.contact-content .contact_links span {
  vertical-align: middle;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  opacity: 0.4;
}
/* line 460, ../scss/_page.scss */
.contact-content .contact_email {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 20px;
  margin-bottom: 30px;
}
/* line 465, ../scss/_page.scss */
.contact-content .contact_email a {
  cursor: pointer;
  color: #8b5b5e;
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.2s ease-in-out 0;
  -o-transition: color 0.2s ease-in-out 0;
  transition: color 0.2s ease-in-out 0;
}
/* line 470, ../scss/_page.scss */
.contact-content .contact_email a:hover {
  text-decoration: none;
  color: white;
}
/* line 477, ../scss/_page.scss */
.contact-content .credits {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 25px;
  margin-bottom: 15px;
}
/* line 482, ../scss/_page.scss */
.contact-content .credits a {
  cursor: pointer;
  color: #8b5b5e;
  -webkit-transition: color 0.2s ease-in-out;
  -webkit-transition-delay: 0;
  -moz-transition: color 0.2s ease-in-out 0;
  -o-transition: color 0.2s ease-in-out 0;
  transition: color 0.2s ease-in-out 0;
}
/* line 487, ../scss/_page.scss */
.contact-content .credits a:hover {
  text-decoration: none;
  color: white;
}
/* line 494, ../scss/_page.scss */
.contact-content .copyright {
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 20px;
}
