/* Buttons =================================================== */

.btn {
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  padding: 5px 10px 10px 10px;
  margin-bottom: 0;
  @include font-size(18);
  font-family: $altfont;
  line-height: 34px;
  color: $buttoncolor;
  text-align: center;
  vertical-align: middle;
  background-color: $buttonbackground;
  border: $buttonborderwidth $buttonborderstyle $buttonbordercolor;
  cursor: pointer;
  *margin-left: .3em;

  &:hover {
    text-decoration: none;
    color: $buttoncolor;
    text-decoration: none;
    background-color: darken($buttonbackground, 5);
  }

  &:active {
    background-color: darken($buttonbackground, 10);
  }
}

.btn_drk {
   &:hover {
    color: $white;
    background-color: $alttextcolor;
  }

  &:hover {
    color: $white;
    background-color: darken($alttextcolor, 10);
  }
}

.bk_btn {
  position: relative;
  padding: 10px 15px 10px 5px;
  background: $lightergrey;

  &:before {
    right: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border-right-color: $lightergrey;
    border-width: 22px;
    top: 36px;
    margin-top: -36px;
  }

  &:hover {
      text-decoration: none;
      color: $white;
      background: $alttextcolor;

      &:before {
        border-right-color: $alttextcolor;
      }
  }

  &:active {
      text-decoration: none;
      color: $white;
      background: darken($alttextcolor, 10);

      &:before {
        border-right-color: darken($alttextcolor, 10);
      }
  }
}

.nxt_btn {
  position: relative;
  padding: 10px 5px 10px 15px;
  background: $lightergrey;

  &:after {
    left: 100%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    border-color: rgba(194, 225, 245, 0);
    border-left-color: $lightergrey;
    border-width: 22px;
    top: 36px;
    margin-top: -36px;
  }

  &:hover {
    text-decoration: none;
    color: $white;
    background: $alttextcolor;

      &:after {
        border-left-color: $alttextcolor;
      }
  }

  &:active {
    text-decoration: none;
    color: $white;
    background: darken($alttextcolor, 10);

      &:after {
        border-left-color: darken($alttextcolor, 10);
      }
  }
}