/* HOME =================================================== */

.home {
	@extend .page;
	top: 0px;
    left: -563px;
	width: 1500px;
    height: 987px;
	background: image-url('port.png') no-repeat 0 0;
}

.home-content {
	width: 505px;
	margin: 250px 0px 0px 913px;
}

.home-header {
	text-align: right;
	margin-bottom: 50px;

	h1 {
		padding-bottom: 20px;
		margin-bottom: 2px;
		@include font-size(65);
		border-bottom: 1px solid #c1c1c1;

		span {
			color: $alttextcolor;
		}
	}

	.tag {
		display: block;
		height: 130px;
		padding: 10px 0px 0 0;
		@include font-size(72);
		font-weight: 300;
		font-family: $altfont;
		text-align: right;
		line-height : 53px;
		border-top: 1px solid #c1c1c1;
		
		.amp {
			float: right;
			padding: 25px 0px 0px 10px;
			font-family: $basefont;
			@include font-size(120);
			line-height: 100px;
			color: $alttextcolor;
		}

		span {
			padding: 0px 1px 0px 35px;
			background: image-url('d.png') no-repeat 0px 52px;
		}
	}
}

.teaser {
	margin-bottom: 40px;
	@include font-size(20);
	text-align: center;
	line-height: 40px;
}

.home-footer {
	.scroll {
		padding: 0 0 120px 0;
		@include font-size(30);
        text-align: center;
        color: $alttextcolor;
        background: image-url('scroll.png') no-repeat bottom center;
	}
}

/* ABOUT =================================================== */

.about {
	@extend .page;
	top: 1200px;
    left: 540px;
    width: 1598px;
    height: 800px;
    background: image-url('about.png') no-repeat 0 0;
}

.about-content {
	width: 960px;
	height: 330px;
	padding-top: 440px;
	margin: 0 auto;

	.blurb {
		float: left;
		width: 75%;
	}

	.myskills {
		float: right;
		width: 20%;
	}
}

.myskills {
	h1 {
		text-align: right;
	}

	ul {
		padding: 0px 10px 0px 0px;
		margin: 10px;
		color: $alttextcolor;

		li {
			// font-family: $altfont;
			text-align: right;
			@include font-size(18);
			line-height: 30px;
			list-style: square;

			span {
				color: $textcolor;
			}
		}
	}
}

/* PORT =================================================== */

.portfolio {
	@extend .page;
	top: 630px;
	left: 2110px;
	width: 1500px;
	height: 800px;
}

.portfolio-content {
	position: relative;
    margin: 0 auto;
    font-size: 0;
    text-align: center;

    .port-items {
    	position: absolute;
		top: 93px;
		left: 373px;
		width: 798px;
		height: 499px;
		padding-left: 0px;
		list-style: none;

		li {
			position: relative;
			float: left;
			width:160px;
			height: 160px;
			margin: 0 35px 35px 0;
		}

		.port-item {
			display: block;
			cursor: pointer;
			width: 100%;
			height: 100%;
			margin: 6px 0px 0px 6px;
			@include single-box-shadow(rgba(50, 50, 50, 0.75), 0px, 0px, 20px);
			background-repeat: no-repeat;
			background-position: 0 0;

			&:hover {
				outline: 4px solid $darkgrey;
			}

			&:active {
				border: 4px solid $alttextcolor;
				background-position: -4px -4px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
			}
		}

		#radical {
			background-image: image-url('radical_thumb.jpg'); 
		}
    }

    .shelf-left {
    	display: inline-block;
		width: 432px;
		height: 499px;
		z-index: -2;
		background: image-url('shelf-left.png') no-repeat 0 0;
    }

    .shelf-middle {
		display: inline-block;
		width: 398px;
		height: 499px;
		z-index: -2;
		background: image-url('shelf-middle.png') repeat-x 0 -10px;
    }

    .shelf-right {
		display: inline-block;
		width: 395px;
		height: 499px;
		z-index: -2;
		background: image-url('shelf-right.png') no-repeat 0 0;
    }
}

/* PORT-ITEM ================================================= */

.tablet {
	@extend .page;
	top: 2130px;
	left: 1895px;
	width: 1865px;
	height: 1024px;
}

.tablet-content {
	position: relative;
	overflow: auto;
	width: 1865px;
	height: 1024px;
}

.tablet-bg {
	position: absolute;
	top: -10px;
	pointer-events: none;
	width: 1865px;
	height: 1024px;
	background: image-url('tablet.png') no-repeat 0 0;
}

.tab-content-wrap {
	position: relative;
	width: 860px;
	height:650px;
	overflow: hidden;
	margin: 150px 0px 0px 510px;
}

.tab-controls {
	height: 50px;
	padding-bottom: 5px;
	margin: 25px 50px 10px 50px;
	border-bottom: 1px solid #c1c1c1;


	.tab-back {
		float: left;
		margin-left: 25px;
	}

	.tab-prev-next {
		float: right;
		margin: 12px 25px 12px 0px;

		li {
			display: inline-block;
		}
	}

	a {
		cursor: pointer;
   		@include font-size(20);
   		color: darken($alttextcolor, 10);
	}
}

.tab-items {
	position: absolute;
	top: 90px;
	left: 0px;
	height: 560px;
	padding: 0px;
	margin-left: 0px;
	margin-right: 200px;
	list-style: none;

	.tab-item {
		float: left;
		width: 760px;
		height: 500px;
		padding: 10px 50px 50px 50px;
	}
}

.tab-item {

	h1 {
		margin-bottom: 10px;
		@include font-size(40);
	}

	.tab-right {
		float: right;
		// width: 377px;
		// margin: 0px 0px 10px 10px;
	}
}

.tab-right {
	text-align: center;
}

.tab-image {
	height: 412px;
	padding: 0px;
	margin: 10px 0px 25px 20px;
	border: 1px solid $grey;

	.tab-browser {
		overflow: auto;
		padding: 0px 0px 0px 7px;
		list-style: none;
		border-bottom: 1px solid $grey;

		li {
			float: left;
			display: inline-block;
			width: 8px;
			height: 8px;
			border: 1px solid $grey;
		}

		.tab-browser-btn {
			margin: 13px 5px 0px 0px;
			background-color: lighten($alttextcolor, 30);
			@include border-radius(10px);
		}

		.tab-browser-adrs {
			float: right;
			width: 70%;
			padding: 7px;
			margin: 5px;
			background-color: lighten($alttextcolor, 30);
			@include border-radius(5px);
		}
	}

	img {

		width: 377px;
		height: 377px;
	} 
}

.tab_url {	
	margin: 10px auto;
	text-transform: uppercase;
	@include single-box-shadow(rgba(50, 50, 50, 0.1), 0px, 0px, 20px);
}

.tab-tags {
	list-style: none;
	padding: 0px 10px 0 0;
	margin-bottom: 10px;

	li {
		display: inline-block;
		padding: 5px 5px 10px 5px;
		margin: 0 5px 10px 0;
		@include font-size(16);
		font-family: $altfont;
		line-height: 18px;
		background: lighten($lightgrey, 10);
	}
}



/* CONTACT =================================================== */

.contact {
	@extend .page;
	top: 1300px;
    left: 3100px;
    width: 960px;
    height: 800px;
    padding-top: 150px;
    text-align: center;
    color: $white;
    background: image-url('postbox.png') no-repeat right 0;
}

.contact-content {
	width: 570px;
	height: 430px;
	padding: 40px;
	background-color: lighten($grey, 20);
	border: 2px dashed $grey;

	h1 {
		color: $white;
		margin-bottom: 20px;
		@include font-size(50);
		line-height: 50px;
	}

	.cv {
		margin: 0px auto 30px auto;
		text-transform: uppercase;
	}

	.contact_links {
		margin-bottom: 30px;
		@include font-size(30);
		line-height: 30px;

		a {
			vertical-align: middle;
			@include font-size(18);
			line-height: 20px;
			cursor: pointer;
			color: darken($alttextcolor, 10);

			&:hover{ 
				text-decoration: none;
				color: $white;
			}
		}

		span {
			vertical-align: middle;
			@include opacity(0.4);
		}
	}

	.contact_email {
		@include font-size(18);
		line-height: 20px;
		margin-bottom: 30px;

		a {
			cursor: pointer;
			color: darken($alttextcolor, 10);
			@include single-transition(color, 0.2s, ease-in-out, 0);

			&:hover {
				text-decoration: none;
				color: $white;
			}
		}
	}

	.credits {
		@include font-size(14);
		line-height: 25px;
		margin-bottom: 15px;

		a {
			cursor: pointer;
			color: darken($alttextcolor, 10);
			@include single-transition(color, 0.2s, ease-in-out, 0);

			&:hover {
				text-decoration: none;
				color: $white;
			}
		}	
	}

	.copyright {
		@include font-size(14);
		line-height: 20px;	
	}		
}