/* HOME =================================================== */

#home {
	@extend .page;
	top: 0px;
    left: -500px;
	width: 1500px;
    height: 832px;
	background: image-url('port.png') no-repeat 0 0;
}

.home-content {
	margin: 200px 0px 0px 870px;
}

.home-header {
	width: 505px;
	text-align: right;

	h1 {
		padding-bottom: 35px;
		margin-bottom: 10px;
		font-family: $altfont;
		@include font-size(72);
		border-bottom: 1px solid #c1c1c1;

		span {
			color: #454545;
		}
	}

	.tag {
		display: block;
		height: 130px;
		padding-right: 120px;
		@include font-size(72);
		font-weight: 300;
		text-align: right;
		line-height : 53px;
		color: #454545;
		background: image-url('amp.png') no-repeat right 30px;
		

		span {
			padding: 0px 1px 0px 35px;
			background: image-url('d.png') no-repeat 0px 52px;
		}
	}
}

#about, #portfolio, #contact {
	display: none;
}