/* Page =================================================== */

// 1. ROOT 					==============================

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

// * {
// 	-moz-box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// }

html {
	display: table;
	font-size : 62.5%;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body {
	display: table-row;
	height: 100%;
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor; 
}

.wrapper {
	position: relative;
	display: table-cell;
	overflow: hidden;
	border: $bodyborderwidth $bodyborderstyle $bodybordercolor;
	background : $bodycolor image-url('bg-light.png');
	z-index: -100;
}

nav {
	position: fixed;
	top:0;
	left: 0;
	background-color: rgba(238, 238, 238, 0.9);
	width: 100%;
	z-index: 999;
	border-style: $bodyborderstyle;
	border-color: $bodybordercolor;
	border-width: $bodyborderwidth $bodyborderwidth 1px $bodyborderwidth;
	@include box-sizing(border-box);
}

.nav-wrap {
	width: $sitewidth;
	margin: 0 auto;

	a, a:visited {
		@include font-size(18);
		text-transform: lowercase;
		color: $textcolor;
	}

	.home-nav {
		float: left;
		display: block;
		padding: 18px 0px;
		margin: 0px;

		li {
			display: inline-block;

			a {
				padding: 18px 10px;

				span {
					color: $alttextcolor;
				}

				&:hover {
					text-decoration: none;
					border-bottom: 2px solid $alttextcolor;
					background-color: rgba(230,230,230, 0.5);
				}
			}	
		}

		.site-logo {
			a {
				padding: 18px 25px 40px 25px;
				border-bottom: 4px solid darken($alttextcolor, 15);
				background: $alttextcolor image-url('logo.png') no-repeat center center;
				
				&:hover {
					border-bottom: 4px solid darken($alttextcolor, 15);
					background-color: darken($alttextcolor, 15);
				}
			}
		}
	}

	.nav {
		float: right;
		display: block;
		list-style: none;
		padding: 18px 0 18px 45px;
		margin: 0px;
		text-align: right;
		background: image-url('swirl.png') no-repeat left 25px;

		li {
			display: inline-block;

			a, a:visited {

				padding: 18px 10px 18px 10px;
				text-align: center;

				&:hover {
					text-decoration: none;
					border-bottom: 2px solid $alttextcolor;
					background-color: rgba(230,230,230, 0.5);
				}
			}
		}	
	}
}

.page {
	position: absolute;
	width: 960px;
}

.hide {
	display: none;
}

.line1 {
	position: absolute;
	top: 967px;
	left: -80px;
	width: 712px;
	height: 622px;
	background: image-url('line1.png') no-repeat;
}

.line2 {
	position: absolute;
	top: 896px;
	left: 1977px;
	width: 288px;
	height: 599px;
	background: image-url('line2.png') no-repeat;
}

.line3 {
	position: absolute;
	top: 894px;
	left: 3422px;
	width: 532px;
	height: 424px;
	background: image-url('line3.png') no-repeat;
}

.line4 {
	position: absolute;
	top: 1080px;
	left: 2640px;
	width: 529px;
	height: 1123px;
	background: image-url('line4.png') no-repeat;
}

.break {
	display: block;
	width: 400px;
	height: 1px;
	margin: 0 auto 30px auto;
	border-color: $white transparent $white transparent;
	border-width: 1px;
	border-style: solid;
	@include opacity(0.4);
}

// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================