/* Page =================================================== */

// 1. ROOT 					==============================

@-webkit-viewport { 
width : device-width; }

@-moz-viewport { 
width : device-width; }

@-ms-viewport { 
width : device-width; }

@-o-viewport { 
width : device-width; }

@viewport { 
width : device-width; }

// * {
// 	-moz-box-sizing: border-box;
// 	-webkit-box-sizing: border-box;
// 	box-sizing: border-box;
// }

html {
	display: table;
	font-size : 62.5%;
	width: 100%;
	height: 100%;
	-webkit-overflow-scrolling : touch;
	-webkit-tap-highlight-color : lighten($basecolor, 75%);
	-webkit-text-size-adjust : 100%;
	-ms-text-size-adjust : 100%; 
}

body {
	display: table-row;
	height: 100%;
	// margin : 0;
	// padding : 0;
	// background-color : transparent;
	font-family : $basefont;
	@include font-size();
	line-height : $baselineheight;
	color : $textcolor; 
}

.wrapper {
	position: relative;
	display: table-cell;
	overflow: hidden;
	border: $bodyborderwidth $bodyborderstyle $bodybordercolor;
	background : $bodycolor image-url('bg-light.png'); 
}

nav {
	position: fixed;
	top:0;
	left: 0;
	background-color: rgba(238, 238, 238, 0.9);
	width: 100%;
	z-index: 999;
	border-top: $bodyborderwidth $bodyborderstyle $bodybordercolor;
	border-left: $bodyborderwidth $bodyborderstyle $bodybordercolor;
	border-right: $bodyborderwidth $bodyborderstyle $bodybordercolor;
	border-bottom: 1px $bodyborderstyle $bodybordercolor;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;

	ul {
		display: block;
		list-style: none;
		padding: 0px;
		margin-top: 18px;

		text-align: right;

		li {
			display: inline-block;
			margin-right: 20px;

			a, a:visited {
				@include font-size(18);
				font-family: $altfont;
				text-transform: lowercase;
				color: $textcolor;


				&:hover {
					text-decoration: none;
				}
			}
		}	
	}
}

.page {
	position: absolute;
	width: 960px;
}


// 2. TYPOGRAPHY 			==============================
// 3. COLOUR 				==============================
// 4. TEXTURE 				==============================
// 5. ELEMENTS 				==============================
// 6. LAYOUT 				==============================
// 7. VENDOR-SPECIFIC 		==============================
// 8. MODERNIZR 			==============================
// 9. TEMPLATE SPECIFICS 	==============================