/* Variables =================================================== */

// greyscale

$black 			: rgb(0,0,0);
$darkgrey 		: lighten($black, 25%);
$grey 			: lighten($black, 50%);
$lightgrey 		: lighten($black, 75%);
$lightergrey 	: lighten($black, 90%);
$white 			: rgb(255,255,255);

// 1. ROOT 					==============================

$bodycolor : #fefefe;
$textcolor : $darkgrey;
$alttextcolor : #A47578;
$sitewidth : 960px;

// 2. TYPOGRAPHY 			==============================
$basefont : 'Libre Baskerville', serif;
$altfont : 'Josefin Sans', Arial, sans-serif;
$basefontsize : 16;
$baselineheight : 1.5em;
$baseheadingfontweight : 300;
$altlineheight : 1.35em;

// 3. COLOUR 				==============================

$basecolor 		: rgb(45,53,62);
$compcolor 		: adjust-hue($basecolor, 180);
$bordercolor    : lighten($basecolor, 60%);

// Links

$linkcolor 		    : $alttextcolor;
$linkcolorhover 	: darken($linkcolor, 10);
$linkcolorvisited   : darken($linkcolorhover, 10);
$linkcolorfocus 	: darken($linkcolorvisited, 10);

// 4. TEXTURE 				==============================

// body

$bodybordercolor	: #dcdcdc;
$bodyborderwidth	: 15px;
$bodyborderstyle	: solid;

// buttons

$buttonbackground 	: $lightergrey;
$buttoncolor 		: $alttextcolor;
$buttonborderwidth	: 1px;
$buttonborderstyle	: dashed;
$buttonbordercolor 	: $lightgrey;

// tags

$wellbackground		: lighten($basecolor, 75%);
$wellbordercolor	: darken($wellbackground, 20%);
$wellborderwidth	: 1px;
$wellborderstyle	: solid;
$wellshadow			: darken($wellbackground, 10%);
$wellshadowblur		: 10px;


// 6. LAYOUT 				==============================

$baseline : $baselineheight;
$gutterwidth : 24px;

//  7. VENDOR-SPECIFIC 		==============================
//  8. MODERNIZR 			==============================
//  9. TEMPLATE SPECIFICS 	==============================