/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #CV Styles
================================================== */

body {
	background: #e9e9e9 url(../images/bg.jpg);
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 16px;
}

.container {
	background: #fff;
	color: #404040;
	border: 1px solid #bcbcbc;
	outline: 20px solid rgba(243, 243, 243, 0.3);
	padding: 20px;
	margin 0 auto;
	margin-top: 100px;
	margin-bottom: 100px;
}

	#header {
		padding-top: 40px;
	}

		#main_title h1{
			font-family: 'PT Sans Narrow', sans-serif;
		}

			#main_title h1 small {
				font-size: 24px;
				line-height: 25px;
				color: #6f6f6f;
				display: block;
			}

			#main_title h1 span {
				font-size: 80px;
				font-weight: bold;
				line-height: 60px;
				text-transform: uppercase;
				color: #000;
				display: block;
			}

		#links {
			font-family: 'PT Sans Narrow', sans-serif;
			font-size: 18px;
			text-align: right;
			padding-top: 55px;
		}

			#links li em{
				font-weight: bold;
				display: block;
				color: #000;
			}

	.section {
		border-top: 2px dashed #e0e0e0;
	}

		.section_head {
			text-align: right;
		}

			.section_head span {
				padding-right: 15px;
				font-size: 24px;
				line-height: 33px;
				text-transform: uppercase;
				font-weight: bold;
			}

		#about .section_head span {
			color: #072957;
		}

		#skills .section_head span {
			color: #45715D;
		}

		#experience .section_head span {
			color: #7D8652;
		}

		#education .section_head span {
			color: #B55F4B;
		}

		#references .section_head span {
			color: #AE2733;
		}

		#skills ul li {
			padding: 15px 10px 15px 20px;
			margin-bottom: 15px;
			/*background: #072957;*/
			color: #404040;
			border-left: 8px solid #45715D;
		}

		/*#skills ul li.second {
			border-color: #45715D;
		}

		#skills ul li.third {
			border-color: #7D8652;
		}

		#skills ul li.fourth {
			border-color: #B55F4B;
		}

		#skills ul li.fifth {
			border-color: #AE2733;
		}*/

			#skills ul li strong {
				color: #404040;
			}

	#about p {
		margin-bottom: 10px;
	}

	#experience .blk {
		border-left: 8px solid #7D8652;
		padding-left: 20px;
		margin-bottom: 20px;
	}

		#experience .blk h3 {
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 3px;
			color: #7D8652;
		}

		#experience .blk .job {
			border-bottom: 2px dashed;
			border-color: #e0e0e0;
			margin-top: 0px;
			margin-bottom: 20px;
			padding-bottom: 15px;
		}

		#experience .blk .job:last-child {
			border-bottom: 0px;
		}

			#experience .blk .job h4 {
				font-family: 'PT Sans Narrow', sans-serif;
				font-weight: bold;
				font-size: 20px;
				margin-top: 0px;
				margin-bottom: 10px;
				color: #6f6f6f;
			}

			#experience .blk .job p {
				margin-bottom: 10px;
			}

	#education .blk {
		border-left: 8px solid #B55F4B;
		padding-left: 20px;
		margin-bottom: 20px;
	}

		#education .blk h3 { 
			font-family: 'PT Sans Narrow', sans-serif;
			font-weight: bold;
			font-size: 24px;
			margin-bottom: 0px;
			color: #B55F4B;
		}

			#education .blk h3 span {
				font-size: 16px;
				font-weight: normal;
				color: #6f6f6f;
			}

			#education .blk p {
				margin-bottom: 10px;
			}


/* #Utility classes
================================================== */

.hide {
	display: none;
}

.sixteen.columns {
	padding: 15px 0;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {}

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {}


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/